<header>
    <div class="jumpotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Telefon Mağazası</p>
        </div>

    </div>
</header>